In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import seaborn as sns

In [3]:
data = pd.read_csv("tips.csv")
data

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.296070e+15,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3.506810e+15,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.011890e+15,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4.375220e+12,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3.511450e+15,Thur672

In [4]:
tips_stats = data['tip'].describe()
tips_stats

count    244.000000
mean       2.998279
std        1.383638
min        1.000000
25%        2.000000
50%        2.900000
75%        3.562500
max       10.000000
Name: tip, dtype: float64

In [1]:
# Addtional Statistics

mean_tip = data['tip'].mean()
median_tip = data['tip'].median()
std_tip = data['tip'].std()
var_tip = data['tip'].var()
skew_tip = data['tip'].skew()
kurtosis_tip = data['tip'].kurtosis()
cv_tip = (std_tip/mean_tip)*100
q1=np.percentile(data['tip'], 25)
q2 = np.percentile(data['tip'], 50)
q3 = np.percentile(data['tip'], 75)
print("\nAdditional statistics for the tip column:")
print("Mean :", mean_tip)
print("Median :", median_tip)
print("Standard Deviation :", std_tip)
print("Variance :", var_tip)
print("Skewness :", skew_tip)
print("Kurtosis :", kurtosis_tip)
print("Coefficient of variation :", cv_tip)
print("First Quartile (q1) :", q1)
print("Second Quartile (q2) :", q2)
print("Third Quartile (q3):", q3)

NameError: name 'data' is not defined