In [2]:
# Write a pandas program to creae and displaya one dimensional array - like object containing an array of data using pandas module.
import pandas as pd
data = pd.Series([10,20,30,40,50])
print("One-dimensional arraly like object:")
print(data)

One-dimensional arraly like object:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# Write a Pandas program to convert a Panda module Series to Python list and it's type.

data = pd.Series([100,200,300,400,500])
data_list = data.tolist()
print("Converted python list:", data_list)
print("Type of the list:", type(data_list))

Converted python list: [100, 200, 300, 400, 500]
Type of the list: <class 'list'>

In [4]:
# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

# Creating two Pandas Series
series1 = pd.Series([10, 20, 30, 40, 50])
series2 = pd.Series([1, 2, 3, 4, 5])

# Performing arithmetic operations
addition = series1 + series2
subtraction = series1 - series2
multiplication = series1 * series2
division = series1 / series2

# Displaying the results
print("Addition of two Series:")
print(addition)

print("\nSubtraction of two Series:")
print(subtraction)

print("\nMultiplication of two Series:")
print(multiplication)

print("\nDivision of two Series:")
print(division)

Addition of two Series:
0    11
1    22
2    33
3    44
4    55
dtype: int64

Subtraction of two Series:
0     9
1    18
2    27
3    36
4    45
dtype: int64

Multiplication of two Series:
0     10
1     40
2     90
3    160
4    250
dtype: int64

Division of two Series:
0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
dtype: float64

In [5]:
#4. Write a Pandas program to compare the elements of the two Pandas Series.
# Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

import pandas as pd

# Creating the sample Series
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 10])

# Comparing elements
print("Series1:\n", series1)
print("\nSeries2:\n", series2)

print("\nElement-wise comparison (Greater than):")
print(series1 > series2)

print("\nElement-wise comparison (Less than):")
print(series1 < series2)

print("\nElement-wise comparison (Equal):")
print(series1 == series2)

Series1:
 0     2
1     4
2     6
3     8
4    10
dtype: int64

Series2:
 0     1
1     3
2     5
3     7
4    10
dtype: int64

Element-wise comparison (Greater than):
0     True
1     True
2     True
3     True
4    False
dtype: bool

Element-wise comparison (Less than):
0    False
1    False
2    False
3    False
4    False
dtype: bool

Element-wise comparison (Equal):
0    False
1    False
2    False
3    False
4     True
dtype: bool

In [6]:
# 5. Write a Pandas program to convert a dictionary to a Pandas Series.
# Sample Series:
# Original dictionary:
# {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
# Converted series:
# a    100
# b    200
# c    300
# d    400
# e    800
# dtype: int64

import pandas as pd

# Creating the original dictionary
data_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

# Converting the dictionary to a Pandas Series
data_series = pd.Series(data_dict)

# Displaying the converted series
print("Converted series:")
print(data_series)

Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [7]:
# 6. Write a Pandas program to convert a NumPy array to a Pandas Series.
# Sample Series:
# NumPy array:
# [10 20 30 40 50]
# Converted Pandas series:
# 0    10
# 1    20
# 2    30
# 3    40
# 4    50
# dtype: int64

import pandas as pd
import numpy as np

# Creating a NumPy array
numpy_array = np.array([10, 20, 30, 40, 50])

# Converting NumPy array to Pandas Series
pandas_series = pd.Series(numpy_array)

# Displaying the converted Series
print("Converted Pandas series:")
print(pandas_series)

Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [8]:
# 7. Write a Pandas program to change the data type of a given column or a Series.
# Sample Series:
# Original Data Series:
# 0       100
# 1       200
# 2    python
# 3    300.12
# 4       400
# dtype: object
# Change the said data type to numeric:
# 0    100.00
# 1    200.00
# 2       NaN
# 3    300.12
# 4    400.00
# dtype: float64

import pandas as pd

# Creating the original Series
data = pd.Series([100, 200, 'python', 300.12, 400])

# Displaying the original Series
print("Original Data Series:")
print(data)

# Converting the Series to numeric, forcing errors to NaN
converted_data = pd.to_numeric(data, errors='coerce')

# Displaying the converted Series
print("\nData Series after converting to numeric:")
print(converted_data)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after converting to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [9]:
# 8. Write a Pandas program to convert the first column of a DataFrame as a Series.
# Sample Output:
# Original DataFrame
#    col1  col2  col3
# 0     1     4     7
# 1     2     5     5
# 2     3     6     8
# 3     4     9    12
# 4     7     5     1
# 5    11     0    11
# 1st column as a Series:
# 0     1
# 1     2
# 2     3
# 3     4
# 4     7
# 5    11
# Name: col1, dtype: int64
# <class 'pandas.core.series.Series'>

import pandas as pd

# Creating the DataFrame
data = {
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
}
df = pd.DataFrame(data)

# Displaying the original DataFrame
print("Original DataFrame:")
print(df)

# Extracting the first column as a Series
first_column_series = df['col1']

# Displaying the Series and its type
print("\n1st column as a Series:")
print(first_column_series)
print(type(first_column_series))

Original DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
# 9. Write a Pandas program to convert a given Series to an array.
# Sample Output:
# Original Data Series:
# 0       100
# 1       200
# 2    python
# 3    300.12
# 4       400
# dtype: object
# Series to an array:
# ['100' '200' 'python' '300.12' '400']
# <class 'numpy.ndarray'>

import pandas as pd

# Creating the original Series
data_series = pd.Series([100, 200, 'python', 300.12, 400])

# Displaying the original Series
print("Original Data Series:")
print(data_series)

# Converting the Series to a NumPy array
array_data = data_series.values

# Displaying the array and its type
print("\nSeries to an array:")
print(array_data)
print(type(array_data))

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Series to an array:
[100 200 'python' 300.12 400]
<class 'numpy.ndarray'>

In [11]:
# 10. Write a Pandas program to convert Series of lists to one Series.
# Sample Output:
# Original Series of list:
# 0     [Red, Green, White]
# 1           [Red, Black]
# 2              [Yellow]
# dtype: object
# One Series:
# 0       Red
# 1     Green
# 2     White
# 3       Red
# 4     Black
# 5    Yellow
# dtype: object

import pandas as pd

# Creating the original Series of lists
series_of_lists = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])

# Displaying the original Series of lists
print("Original Series of list:")
print(series_of_lists)

# Converting the Series of lists to one Series
one_series = series_of_lists.explode()

# Displaying the converted Series
print("\nOne Series:")
print(one_series)

Original Series of list:
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

One Series:
0       Red
0     Green
0     White
1       Red
1     Black
2    Yellow
dtype: object

In [12]:
k=pd.Series([['rED', 1,3],[3,23,42]])
f=k.explode()
print(f)

0    rED
0      1
0      3
1      3
1     23
1     42
dtype: object

In [17]:
# 11. Write a Pandas program to sort a given Series.
# Sample Output:
# Original Data Series:
# 0       100
# 1       200
# 2    python
# 3    300.12
# 4       400
# dtype: object
# Sorted Data Series:
# 0     100
# 1     200
# 3    300.12
# 4     400
# 2    python
# dtype: object

import pandas as pd

# Creating the original Series
data_series = pd.Series([100, 200, 'python', 300.12, 400])
k=data_series[pd.to_numeric(data_series, errors='coerce').sort_values().index]
print(k)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [22]:
# 12. Write a Pandas program to add some data to an existing Series.
# Sample Output:
# Original Data Series:
# 0       100
# 1       200
# 2    python
# 3    300.12
# 4       400
# dtype: object
# Data Series after adding some data:
# 0       100
# 1       200
# 2    python
# 3    300.12
# 4       400
# 5       500
# 6      php
# dtype: object

import pandas as pd

# Creating the original Series
data_series = pd.Series([100, 200, 'python', 300.12, 400])

# Displaying the original Series
print("Original Data Series:")
print(data_series)

# Adding new data to the existing Series
new_data = pd.Series([500, 'php'])

# Concatenating the new data to the existing Series using pd.concat()
data_series = pd.concat([data_series, new_data], ignore_index=True)

# Displaying the updated Series
print("\nData Series after adding some data:")
print(data_series)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object