Write a Pandas program to create and display a one-dimensional array-like
object containing an array of data using Pandas module.

In [21]:
import pandas as pd
import numpy as np

In [22]:
ds=pd.Series([2,4,6,8,10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list
and it's type.

In [23]:
ds=pd.Series([2,4,6,8,10])
print("Pandas Series And Type:")
print(ds)
print(type(ds))
print('\n')
print("Convert Pandas Series to Python List :")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series And Type:
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>


Convert Pandas Series to Python List :
[2, 4, 6, 8, 10]
<class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas
Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [24]:
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,9])
print("Add two Series:")
ds=ds1+ds2
print(ds)
print('\n')
print("Substract two Series:")
ds=ds1-ds2
print(ds)
print('\n')
print("Multipy two Series:")
ds=ds*ds2
print(ds)
print('\n')

print("Divide Series by Series2:")
ds=ds1/ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64


Substract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64


Multipy two Series:
0    1
1    3
2    5
3    7
4    9
dtype: int64


Divide Series by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas
Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [25]:
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,10])
print("Series1:")
print(ds1)
print('\n')
print("Series2")
print(ds2)
print("\n")
print("Compare the elements of the said Series:")
print("\n")
print("Equals")
print(ds1==ds2)
print('\n')
print('Greater Than:')
print(ds1>ds2)
print("\n")
print(ds1<ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64


Series2
0     1
1     3
2     5
3     7
4    10
dtype: int64


Compare the elements of the said Series:


Equals
0    False
1    False
2    False
3    False
4     True
dtype: bool


Greater Than:
0     True
1     True
2     True
3     True
4    False
dtype: bool


0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.
Sample Series:
- Original dictionary:
- {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
- Converted series:
- a 100
- b 200
- c 300
- d 400
- e 800
- dtype: int64

In [26]:
d1={'a':100, 'b':200, 'c':300, 'd':400, 'e':800}
print("Original Dictionary:")
print(d1)
print('\n')
new_series = pd.Series(d1)
print("Converted Series:")
print(new_series)

Original Dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}


Converted Series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.
- Sample Series:
- NumPy array:
- [10 20 30 40 50]
- Converted Pandas series:
- 0 10
- 1 20
- 2 30
- 3 40
- 4 50
- dtype: int64

In [27]:
np_array=np.array([10,20,30,40,50])
print("Numpy Array:")
print(np_array)
print('\n')
new_series = pd.Series(np_array)
print("Converted Pandas Series:")
print(new_series)

Numpy Array:
[10 20 30 40 50]


Converted Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

7. Write a Pandas program to change the data type of given a column or a
Series.
- Sample Series:
- Original Data Series:
- 0 100

- 1 200
- 2 python
- 3 300.12
- 4 400
- dtype: object
- Change the said data type to numeric:
- 0 100.00
- 1 200.00
- 2 NaN
- 3 300.12
- 4 400.00
- dtype: float64

In [28]:
s1=pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Change the said data type to numeric :")
s2=pd.to_numeric(s1, errors='coerce')
print(s2)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric :
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64